## Mini Project - Python
## Asset Management Company Dataset

In [1]:
import numpy as np
import pandas as pd

##### *Q.1 Reading the Rounds2, companies.txt files.*

In [2]:
df = pd.read_csv('C:/Users/91861/Downloads/Project 2-2/Project 2/Dataset/rounds2 (1).csv', encoding = "ISO-8859-1")

In [3]:
df.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [4]:
df2 = pd.read_csv('C:/Users/91861/Downloads/Project 2-2/Project 2/Dataset/companies (1).txt',delimiter='\t')

In [5]:
df2.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

##### *Q.2  How many unique companies are present in rounds2?*

In [6]:
# To find out unique companies in companies, converting permalink column values into lower cases, since python is case sensitive.

companies = df['company_permalink'].str.lower()
print('Number of unique companies present in rounds2 file = ',len(companies.unique()))

Number of unique companies present in rounds2 file =  66370

##### *Q.3 How many unique companies are present in the companies file?*

In [7]:
# To find out unique companies in companies, converting permalink column values into lower cases, since python is case sensitive.

companies2 = df2['permalink'].str.lower()
print('Number of unique companies present in companies text file = ',len(companies2.unique()))

Number of unique companies present in companies text file =  66368

##### *Q.4 Write the code to convert companies[‘permalink’] and Round2[‘company_permalink’] columns to uppercase.*

In [8]:
df["company_permalink"] = df["company_permalink"].str.upper()
df2["permalink"] = df2["permalink"].str.upper()

In [9]:
df.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/ORGANIZATION/-QOUNTER,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/ORGANIZATION/0-6-COM,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [10]:
df2.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/ORGANIZATION/004-TECHNOLOGIES,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

As you can see above both permalink columns has been converted into uppercase.

##### *Q.5 Are there any companies in the rounds2 file which are not present in companies.txt ?*

In [11]:
# to find companies that are not present in caompanies txt file we are using set operation on permalink columns,since we previously found unique companies present in both the dataset.

set(df2['permalink'].unique()).difference(set(df['company_permalink'].unique()))

{'/ORGANIZATION/51WOFANG-Æ— Å¿§Æˆ‘Æˆ¿',
 '/ORGANIZATION/ADSLINKEDÂ„¢',
 '/ORGANIZATION/ASIANSBOOKÂ„¢',
 '/ORGANIZATION/E-CÃŠBICA',
 '/ORGANIZATION/ENERGYSTONE-GAMES-Ç\x81ΜÇŸ³Æ¸¸Æˆ\x8f',
 '/ORGANIZATION/ETOOL-IOÂ”',
 '/ORGANIZATION/HUIZUCHE-COM-ÆƑ Ç§ŸÈ½¦',
 '/ORGANIZATION/INVENO-È‹±Å¨\x81È¯º',
 '/ORGANIZATION/IPROOF---THE-FOUNDATION-FOR-THE-INTERNET-OF-THINGSÂ„¢',
 '/ORGANIZATION/ITÂ€™S-ALL-ABOUT-ME',
 '/ORGANIZATION/JIWU-Å\x90‰Å±‹Ç½‘',
 '/ORGANIZATION/KNOWÂ€™NÂ€™ACT',
 '/ORGANIZATION/KÃ–Ã–K',
 '/ORGANIZATION/LAGOU-COM-Æ‹‰Å‹¾Ç½‘',
 '/ORGANIZATION/LAWPÃ DÃ\xad',
 '/ORGANIZATION/MAGNET-TECH-Ç£\x81ÇŸ³Ç§‘ÆŠ€',
 '/ORGANIZATION/PRODÄ›TI-CZ',
 '/ORGANIZATION/PRZEÅ›WIETL-PL',
 '/ORGANIZATION/TALENTSIGNEDÂ„¢',
 '/ORGANIZATION/THÁº¿-GIÁ»›I-DI-Ä\x90Á»™NG',
 '/ORGANIZATION/TIPCAT-INTERACTIVE-Æ²™ÈˆŸÄ¿¡Æ\x81¯Ç§‘ÆŠ€',
 '/ORGANIZATION/VACATION-BNBÂ„¢',
 '/ORGANIZATION/WEICHE-TECH-Å–‚È½¦Ç§‘ÆŠ€',
 '/ORGANIZATION/WHITEÂ€™S-HOLDINGS',
 '/ORGANIZATION/WHODATÂ€™S-SPACES',
 '/ORGANIZATION/ZENGAME-Ç¦…Æ¸¸Ç§‘ÆŠ€',
 '/ORGANIZATION/Ã”ASYS-2'}

##### *Q.6  Merge the two data frames so that all variables (columns) in the company's frame are added to the rounds2 data frame. Name the merged frame master_dataframe. How many observations are present in master_frame ?*

In [12]:
master_df = pd.merge(df,df2, how = 'left', left_on = 'company_permalink', right_on = 'permalink')

In [13]:
master_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114949 entries, 0 to 114948
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   company_permalink        114949 non-null  object
 1   funding_round_permalink  114949 non-null  object
 2   funding_round_type       114949 non-null  object
 3   funding_round_code       31140 non-null   object
 4   funded_at                114949 non-null  object
 5   raised_amount_usd        94959 non-null   float64
 6   permalink                114917 non-null  object
 7   name                     114916 non-null  object
 8   homepage_url             108788 non-null  object
 9   category_list            111518 non-null  object
 10  status                   114917 non-null  object
 11  country_code             106263 non-null  object
 12  state_code               103996 non-null  object
 13  region                   104774 non-null  object
 14  city                     104777 non-null  object
 15  founded_at               94407 non-null   object
dtypes: float64(1), object(15)
memory usage: 14.9+ MB

In [14]:
print('There are', len(master_df), 'oberservation present in master_df.')

There are 114949 oberservation present in master_df.

##### *Q.7 Write the code to drop the redundant column ‘'company_permalink' from the master_dataframe.*

In [15]:
master_df = master_df.drop(['company_permalink'],axis=1)

In [16]:
master_df.head()

,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007

##### *Q.8 Write the code to find the percentage missing value (column-wise) in master_dataframe. Drop unnecessary columns.

In [17]:
# getting all the null values using isnull function and adding them using sum function.
Null_values = master_df.isnull().sum().sort_values(ascending=False)

# Extracting percentage of null values in master_df, summing all the null values divided by total number of observation in master_df. 
Percentage = round((master_df.isnull().sum()/len(master_df))*100, 2).sort_values(ascending=False)

# Concatinating both total and percentage of null in single dataframe for easy viewing
missing_data = pd.concat([Null_values, Percentage], axis=1, keys=['Null_values Total', 'Percentage'])

In [18]:
missing_data

                         Null_values Total  Percentage
funding_round_code                   83809       72.91
founded_at                           20542       17.87
raised_amount_usd                    19990       17.39
state_code                           10953        9.53
region                               10175        8.85
city                                 10172        8.85
country_code                          8686        7.56
homepage_url                          6161        5.36
category_list                         3431        2.98
name                                    33        0.03
permalink                               32        0.03
status                                  32        0.03
funding_round_permalink                  0        0.00
funding_round_type                       0        0.00
funded_at                                0        0.00

In [19]:
# dropping unwanted columns from master dataframe.
master_df = master_df.drop(['funding_round_code','founded_at','homepage_url','funded_at','city','state_code'], axis = 1)
master_df.head()

,funding_round_permalink,funding_round_type,raised_amount_usd,permalink,name,category_list,status,country_code,region
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,10000000.0,/ORGANIZATION/-FAME,#fame,Media,operating,IND,Mumbai
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,NaN,/ORGANIZATION/-QOUNTER,:Qounter,Application Platforms|Real Time|Social Network...,operating,USA,DE - Other
2,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,Application Platforms|Real Time|Social Network...,operating,USA,DE - Other
3,/funding-round/650b8f704416801069bb178a1418776b,venture,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",Apps|Games|Mobile,operating,NaN,NaN
4,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,Curated Web,operating,CHN,Beijing

##### *Q.9 Create a pivot table to compare the mean and median values for ‘raised_amount_usd’ and‘funding_round_type’ across different funding round categories..*

In [20]:
master_df.pivot_table(values = 'raised_amount_usd', index = 'funding_round_type', aggfunc = ['mean','median'])

                                   mean            median
                      raised_amount_usd raised_amount_usd
funding_round_type
angel                      9.586945e+05          400000.0
convertible_note           1.453439e+06          272000.0
debt_financing             1.704353e+07         1100000.0
equity_crowdfunding        5.383682e+05          100000.0
grant                      4.300576e+06          201684.0
non_equity_assistance      4.112031e+05           60000.0
post_ipo_debt              1.687046e+08        19950000.0
post_ipo_equity            8.218249e+07        12262852.5
private_equity             7.330859e+07        20000000.0
product_crowdfunding       1.363131e+06          183915.0
secondary_market           7.964963e+07        32600000.0
seed                       7.198180e+05          275000.0
undisclosed                1.924237e+07         1018680.0
venture                    1.174895e+07         5000000.0

##### *Q.10 Filter the master_dataframe on ‘raised_amount_usd’ such as ‘raised_amount_usd’ liebetween 4 Millions to 15 Millions.*

In [21]:
masterdf_filtered = master_df[(master_df['raised_amount_usd'] >= 4000000) & (master_df['raised_amount_usd'] <= 15000000)]

In [22]:
masterdf_filtered.head()

,funding_round_permalink,funding_round_type,raised_amount_usd,permalink,name,category_list,status,country_code,region
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,10000000.0,/ORGANIZATION/-FAME,#fame,Media,operating,IND,Mumbai
12,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,8900000.0,/ORGANIZATION/0XDATA,H2O.ai,Analytics,operating,USA,SF Bay Area
21,/funding-round/11c228f58831bc7ed337ef69ecc560c2,private_equity,6000000.0,/ORGANIZATION/1-800-PUBLICRELATIONS-INC-,"1-800-PublicRelations, Inc.",Internet Marketing|Media|Public Relations,operating,USA,New York City
22,/funding-round/b952cbaf401f310927430c97b68162ea,venture,5000000.0,/ORGANIZATION/1-MAINSTREAM,1 Mainstream,Apps|Cable|Distribution|Software,acquired,USA,SF Bay Area
28,/funding-round/0faccbbcc5818dc5326469f13f5a8ac8,venture,4000000.0,/ORGANIZATION/10-MINUTES-WITH,10 Minutes With,Education,operating,GBR,London

##### *Q.11 Identify the top 9 countries in terms of highest investment in ‘venture’ fund type.*

In [23]:
# extracting informations related to venture fund type.
Venture_df = master_df[master_df['funding_round_type'] == 'venture']

In [24]:
# finding top 9 countries interms of hightest investment.

Venture_Top9 = Venture_df.groupby('country_code')
Venture_Top9['raised_amount_usd'].sum().sort_values(ascending=False).head(9)

country_code
USA    4.225108e+11
CHN    3.983542e+10
GBR    2.024563e+10
IND    1.439186e+10
CAN    9.583332e+09
FRA    7.259537e+09
ISR    6.907515e+09
DEU    6.346960e+09
JPN    3.363677e+09
Name: raised_amount_usd, dtype: float64

##### *Q. 12 Create the ‘main_category’ column by extracting the main sector using the column ‘category_list’. Hint - Use the Lambda function or string function*

In [25]:
# extracting category name, considering the main category which is before vertical bar. splitting using lambda function.

master_df['main_category'] = master_df['category_list'].astype(str).apply(lambda x: x.split('|')[0])

In [26]:
master_df.head()

,funding_round_permalink,funding_round_type,raised_amount_usd,permalink,name,category_list,status,country_code,region,main_category
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,10000000.0,/ORGANIZATION/-FAME,#fame,Media,operating,IND,Mumbai,Media
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,NaN,/ORGANIZATION/-QOUNTER,:Qounter,Application Platforms|Real Time|Social Network...,operating,USA,DE - Other,Application Platforms
2,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,Application Platforms|Real Time|Social Network...,operating,USA,DE - Other,Application Platforms
3,/funding-round/650b8f704416801069bb178a1418776b,venture,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",Apps|Games|Mobile,operating,NaN,NaN,Apps
4,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,Curated Web,operating,CHN,Beijing,Curated Web

##### *Q. 13 Using the user defined function convert the ‘rasied_amount_used’ column into a categorical column as follow*
##### *a) If the amount is less than 5 Millions then recode as TypeA.*
##### *b) If the amount is greater than 5 Millions and less than 7 Millions then recode as TypeB.*
##### *c) If the amount is greater than 7 Millions then recode as TypeC.*

In [27]:
# using user define function recoding data as per above.

def type(x):
    if x < 5000000:
        return 'TypeA'
    elif x >= 5000000 and x <=7000000 :
        return 'TypeB'
    else:
        return 'TypeC'

In [28]:
master_df['raised_amount_usd'] = master_df['raised_amount_usd'].apply(type)
master_df.head()

,funding_round_permalink,funding_round_type,raised_amount_usd,permalink,name,category_list,status,country_code,region,main_category
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,TypeC,/ORGANIZATION/-FAME,#fame,Media,operating,IND,Mumbai,Media
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,TypeC,/ORGANIZATION/-QOUNTER,:Qounter,Application Platforms|Real Time|Social Network...,operating,USA,DE - Other,Application Platforms
2,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,TypeA,/ORGANIZATION/-QOUNTER,:Qounter,Application Platforms|Real Time|Social Network...,operating,USA,DE - Other,Application Platforms
3,/funding-round/650b8f704416801069bb178a1418776b,venture,TypeA,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",Apps|Games|Mobile,operating,NaN,NaN,Apps
4,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,TypeA,/ORGANIZATION/0-6-COM,0-6.com,Curated Web,operating,CHN,Beijing,Curated Web

In [29]:
# converting raised amount coulmn into categorical

master_df['raised_amount_usd'] = master_df['raised_amount_usd'].astype('category')

In [30]:
master_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114949 entries, 0 to 114948
Data columns (total 10 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   funding_round_permalink  114949 non-null  object
 1   funding_round_type       114949 non-null  object
 2   raised_amount_usd        114949 non-null  category
 3   permalink                114917 non-null  object
 4   name                     114916 non-null  object
 5   category_list            111518 non-null  object
 6   status                   114917 non-null  object
 7   country_code             106263 non-null  object
 8   region                   104774 non-null  object
 9   main_category            114949 non-null  object
dtypes: category(1), object(9)
memory usage: 8.9+ MB